.title1 {
  /* color and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.14em;

  /* center text */
  text-align: center;

  /* padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px;
}

/* default gui header2 */
.title2 {
  /* color and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.25em;

  /* center text */
  text-align: center;

  /* padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px;
}

/* default gui header3 */
.title3 {
  /* color and border */
  color: white;
  font-weight: 1;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1.15em;
  text-decoration: underline;

  /* center text */
  text-align: center;

  /* padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px;
}

/* default gui header4 */
.title4 {
  /* color and border */
  color: white;
  font-weight: 1;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  text-decoration: underline;

  /* center text */
  text-align: center;

  /* padding */
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px;
}

/* default p */
.text {
  /* color and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  line-height: 22px;
}

/* default span */
.span {
  /* color and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  line-height: 22px;
}

/* default gui link */
.link {
  /* color and border */
  color: yellow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  line-height: 22px;
  text-decoration: none;
}
/* default gui link */
.link:hover {
  text-decoration: underline;
  color: yellow;
}

/* default gui label */
.label {
  /* color and border */
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  line-height: 20px;
  display: inline;
}

/* default gui label */
.list {
  /* color and border */
  margin-left: 20px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  line-height: 22px;
}
